*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.p23{
    margin: 4px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.p22{
    margin: 4px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.see{
    margin: 4px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ff9900;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}
.header-content{
    max-width: 1350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
    color: #f33737;
}
.logo h1{
    color: #fbff16;
}
.menu{
  
    height: 80px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu nav ul li::before{
    content: '';
    width: 100%;
    height: 4px;
    background: #f33737;
    position: absolute;
    top: 0;
    left: 0;
}
.menu-selected::before{
    content: '';
    width: 100%;
    height: 4px;
    background: #fbff16;
    position: absolute;
    top: 0;
    left: 0;
}
.menu nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: color 300ms;
}
.menu .text-menu-selected{
    color: rgb(55, 56, 56);
}

.container-cover{
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 80px;
    background-image: url(../imagenes2/colegio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: #fbff16c0;
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.container-info-cover h1{
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}
.container-info-cover{
    color: black;
    font-size: 20px;
    font-weight: 300;
}
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.container-aside aside{
    width: 310px;
    padding: 4%;
    border-right: 6px;
    box-shadow: 0 0 100px -40px black;
    border-radius: 6px;
    overflow: hidden;
    margin: 48px;
    margin-bottom: 10px;
    background: #37f360;
}
.container-aside img{
    width: 100%;
}
.container-aside aside h2
.container-aside aside h3{
    margin-top: 20px;
    padding: 0px 20px;
}
.container-aside aside button{
    margin: 10px;
    margin-left: 50px;
    padding: 5px 20px;
    font-size: 16px;
    background: #cfcc12;
    border: none;
    color: azure;
    cursor: pointer;
    border-radius: 6px;
}
.container-aside aside button:hover{
    opacity: 0.9;
}


main{margin: 10px;
    margin-top: 90px;
    
    height: 1920px;
    width: 1325px;
    background: #ffffff;
}

#izqui{
    margin: 10px;
    height: 1894px;
    width: 350px;
    background: #f3b737;
    float: left;
}
#izqui section{
    margin: 10px;
    width: 94%;
    height: 140px;
    background: #f3b737;
}

article{
    margin: 10px;
    width: 565px;
    height: 1894px;
    background: #f33737;
    float: left;
}
#dere{
    margin: 10px;
    height: 1894px;
    width: 350px;
    background: #f3b737;
    float: right;
}
#dera{
    margin: 10px;
    height: 515px;
    width: 545px;
    background: #f33737;
    float: left;
}
#dere section{
    margin: 10px;
    width: 94%;
    height: 140px;
    background: #000000;
}
.pie-pag{
    background-color: #f1c942;
    width: 100%;
    position: absolute;
    bottom: -260%;
    
}
.pie-pag .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pag .grupo1 .bancoO figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pag .grupo1 .bancoO figure img{
    width: 260px;
}
.pie-pag .grupo1 .bancoO h2{
    color: black;
    margin-bottom: 25px;
    font-size: 30px;
}
.pie-pag .grupo1 .bancoO h3{
    color: black;
    margin-bottom: 25px;
}
.pie-pag .grupo1 .redessocial  a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(250, 3, 3);
    margin-right: 10px;
    background-color: #fbff00;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pag .grupo1 .redesocial a:hover{
    color: aqua;
}
.pie-pag .grupo2{
    background-color: rgb(26, 182, 202);
    padding: 15px 10px;
    text-align: center;
    
}
.pie-pag .grupo2 small{
    font-size: 15px;
    color: #070707;
}
@media screen and (max-width:800px){
    .pie-pag .grupo1{
        width: 90%;
        
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px ;
    }
    
}

#nw1{
    color: #fffb00;
}




.hola{
    width: 1200px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.hola aside{
    width: 210px;
    padding: 4%;
    border-right: 6px;
    box-shadow: 0 0 100px -40px black;
    border-radius: 6px;
    overflow: hidden;
    margin: 48px;
    margin-bottom: 10px;
    background: #241f1f;
}

.is{
    width: 58%;
    padding: 2%;
    padding-bottom: -10px;
    box-shadow: 2px 0 20px 5px rgb(163, 123, 123);
    border-radius: 6px;
    overflow: hidden;
    background: #f33737;
}